body {
    margin: 3px;
    width: 100%;
}

#header {
    background-color: rgb(208 208 208);
    height: 7em;
    width: 100%;
}

.navlogo {
    float: left;
    width: 14%;
}

.navlogo img {
    width: 25%;
    margin-left: 178px;
    border-radius: 100px;
}

.logo {
    text-align: center;
    margin-left: 171px;
    margin-top: 3px;
}

@media only screen and (min-width:600px) {
    .navitem {
        float: right;
        padding: 0px;
        padding-right: 56px;
    }
    .navitem li {
        list-style: none;
        display: inline-block;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        padding-top: 30px;
    }
    .navitem li a {
        margin: 3px 3px;
        padding: 10px;
        color: #000;
        font: sans-serif;
        text-decoration: none;
    }
    .navitem li a:hover {
        background-color: cornsilk;
        color: crimson;
        border-radius: 13px;
    }
}

@media only screen and (max-width:600px) {
    .navlogo {
        float: left;
    }
    .navlogo img {
        width: 30%;
    }
    .navitem {
        float: right;
        padding: 2px;
    }
    .navitem ul {
        margin: 0px;
        padding: 9px;
    }
    .navitem li {
        font-size: 15px;
        list-style: none;
    }
    .navitem li a {
        margin: 5px 3px;
        padding: 10px;
        color: #000;
        font: sans-serif;
        text-decoration: none;
    }
    .navitem li:hover {
        background-color: cadetblue;
        border-radius: 20px;
    }
}

#slider {}

#slider img {
    width: 100%;
    height: 30em;
}

#mainbar {
    border: solid 3px;
}

.nk {
    margin-top: 10px;
    background-color: yellowgreen;
}

button:hover {
    background-color: violet;
}